---
import "../styles/global.css";
import "../styles/bloglist.css";
import BlogBox from "../components/BlogBox.astro";
---

<div class="blog-list">
  <BlogBox />
  <BlogBox />
  <BlogBox />
  <BlogBox />
</div>
