---
import "../styles/global.css";
import "../styles/blogbox.css";
const views = 0;
---

<div class="blogbox">
  <h2 class="date">16/12/2022</h2>
  <div class="tag">Tag implemented</div>
  <h1 class="title">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, pariatur!.
  </h1>
  <div class="subtitle">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum vitae
    doloribus officia ea deleniti neque beatae eligendi dicta dignissimos. Sunt
    corrupti voluptatum necessitatibus officia harum. Similique fugit commodi
    rerum hic.
  </div>
  <div class="subsection">
    <p class="author">By Author that / wrote</p>
    <div class="views">
      <img src="/eye.png" alt="eye" />
      <p>{views}</p>
    </div>
  </div>
  <img src="/hero.png" alt="hero-img" />
</div>
