---
import "../styles/global.css";
import "../styles/footer.css";
---

<footer class="foot">
  <a href="/" class="brand">INKEDINSIGHTS</a>
  <div class="mail">
    <img src="/mail.png" alt="mail" />
    harjassidhu1@gmail.com
  </div>
  <div class="right">
    <a href="/about/"><img src="/github.png" alt="github" /></a>
    <a href="/blog/"><img src="/linkedin.png" alt="linkedin" /></a>
    <a href="/podcasts/"><img src="/instagram.png" alt="instagram" /></a>
  </div>
</footer>
