---
import "../styles/global.css";
import "../styles/header.css";
---

<header>
  <a href="/"><img src="/logo.png" alt="logo" class="logo" /></a>
  <div class="right">
    <a href="/about/" data-value="About Us"><div>About Us</div></a>
    <a href="/blog/" data-value="Blogs"><div>Blogs</div></a>
    <a href="/trending/" data-value="Podcasts"><div>Podcasts</div></a>
  </div>
</header>
