---
import "../styles/postsections.css";
---

<div class="wrapper">
  <div class="posts">
    <h2 class="date">16/12/2022</h2>
    <div class="cir">
        <img src="/arrow.png" alt="arrow" class="arr">
    </div>
    <h1 class="title">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </h1>
    <h5 class="subtitle">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum fuga minima officia exercitationem quo est!
    </h5>
  </div>
  <div class="posts">
    <h2 class="date">16/12/2022</h2>
    <div class="cir">
        <img src="/arrow.png" alt="arrow" class="arr">
    </div>
    <h1 class="title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
      <h5 class="subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum fuga minima officia exercitationem quo est!
      </h5>
  </div>
  <div class="posts">
    <h2 class="date">16/12/2022</h2>
    <div class="cir">
        <img src="/arrow.png" alt="arrow" class="arr">
    </div>
    <h1 class="title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
      <h5 class="subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum fuga minima officia exercitationem quo est!
      </h5>
  </div>
</div>
